{% if page %}
<ul class="nav nav-tabs hidden-print">

  {#
    Left Tabs
  #}
  <li class="nav-main-left-tab {% if not req.body.pageForm %}active{% endif %}">
    <a href="#revision-body" data-toggle="tab">
      <i class="icon-control-play"></i> View
    </a>
  </li>

  {% if !isTrashPage() %}
  <li class="nav-main-left-tab {% if req.body.pageForm %}active{% endif %}">
    <a {% if user %}href="#edit-form" data-toggle="tab"{% endif %} class="edit-button {% if not user %}edit-button-disabled{% endif %}">
      <i class="icon-note"></i> {{ t('Edit') }}
    </a>
  </li>
  {% endif %}

  {#
    Right Tabs
  #}
  {% if !isTrashPage() %}
    {% if not isPortal %}
    <li class="nav-main-right-tab dropdown pull-right">
      <a class="dropdown-toggle {% if not user %}dropdown-disabled{% endif %}" {% if user %}data-toggle="dropdown" href="#"{% endif %}>
        <i class="icon-options-vertical"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" data-target="#renamePage" data-toggle="modal"><i class="icon-fw icon-action-redo"></i> {{ t('Move') }}</a></li>
        <li class="divider"></li>
        <li><a href="#" data-target="#duplicatePage" data-toggle="modal"><i class="icon-fw icon-docs"></i> {{ t('Duplicate') }}</a></li>
        {% if isDeletablePage() %}
        <li class="divider"></li>
        <li class=""><a href="#" data-target="#deletePage" data-toggle="modal"><i class="icon-fw icon-fire text-danger"></i> {{ t('Delete') }}</a></li>
        {% endif %}
      </ul>
    </li>
    {% elseif ('/' !== path) %}
    <li class="nav-main-right-tab dropdown pull-right">
      <a class="dropdown-toggle {% if not user %}dropdown-disabled{% endif %}" {% if user %}data-toggle="dropdown" href="#"{% endif %}>
        <i class="icon-options-vertical"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#" data-target="#unportalize" data-toggle="modal"><i class="fa fa-share"></i> {{ t('Unportalize') }}</a></li>
      </ul>
    </li>
    {% endif %}
  {% endif %}

  <li class="nav-main-right-tab pull-right">
    <a href="#revision-history" data-toggle="tab">
      <i class="icon-layers"></i><span class="hidden-xs">  History</span>
    </a>
  </li>
  {% if not isPortal %}
    <li class="nav-main-right-tab pull-right">
      <a href="?presentation=1" class="toggle-presentation">
        <i class="icon-film"></i><span class="hidden-xs"> {{ t('Presentation Mode') }}</span>
      </a>
    </li>
  {% endif %}

</ul>

{% else %} {# for creating portal #}

<ul class="nav nav-tabs nav-tabs-create-portal hidden-print">

  <li class="nav-main-left-tab">
    <a id="portal-form-close" href="#">
      <i class="icon-action-undo"></i> {{ t('Cancel') }}
    </a>
  </li>

  <li class="nav-main-left-tab active">
    <a>
      <i class="icon-note"></i> {{ t('Create') }}
    </a>
  </li>

{% endif %}

</ul>
