@import '../variables';

$basecolor: #16282D;
$themecolor:rgba(11, 79, 104, 0.616);

$topbar:#011414;
$sidebar:#fff;
$bodycolor:$basecolor;
$headingtext: #D9A364;
$bodytext: #97D7CF;
$linktext: darken($themecolor, 15%);
$linktext-hover: lighten($linktext, 80%);
$sidebar-text:rgb(65, 133, 124);
$dark-themecolor:#4F5467;


$primary: $themecolor;
$info: lighten($themecolor,20%);

$logo-mark-fill: rgb(170, 245, 237);
$wikilinktext: saturate($bodytext, 20%);
$wikilinktext-hover: darken($wikilinktext, 5%);

$dark: darken($bodytext, 5%);
$border: lighten($basecolor, 15%);
$navbar-border: lighten($border, 10%);
$active-navbar-border: darken($border, 3%);
$btn-default-bgcolor: darken($basecolor, 10%);
$inline-code-bg: darken($bodycolor, 5%);

@import 'apply-colors';
@import 'apply-colors-dark';

.bg-title{
  border-bottom: 1px solid rgb(131, 228, 215);
}
